* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:  hsl(185, 75%, 39%)
}

.font-dark{
    font-size: 18px;
    font-weight: 700;
    font-family: [Kumbh Sans];
}

.font-light {
    font-size: 18px;
    font-weight: 400;
    font-family: [Kumbh Sans];
    color: gray;
}

.container-fluid {
    position: relative;
    display: flex;
    height: 100vh;
}

.card {
    /* position: absolute; */
    /* z-index: 2;  */
    height: 350px;
    margin: auto;
    border: none;
    box-shadow: 0px 0px 10px 1px black;

}

.card-img-top {
    position: relative;
}
.avatar{
    position: absolute;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    top: 30%;
    left: calc(50% - 40px);
}

.nombre {
    margin-top: 30px !important;
}

.ciudad {
    margin-top: -15px !important;
}


.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
}

.container {
    text-align: center;
}

.row {
    /* margin-top: -15px; */
}

.bola-abajo{
    position: absolute;
    right: -200px;
    bottom: -700px;
}

.bola-arriba{
    /* z-index: 1;  */
    position: absolute;
    display: flex;
    justify-content: flex-start;
    margin-top: -200px;
    
}